@charset "UTF-8";


#login_form {
  margin-top: 150px;
  display: block;
  justify-content: center;
}

#login_form label {
  color: black;
  font-size: 16px;
  width: 100px;
  display: inline-block;
}

#login_form input {
  background-color: black;
  color: white;
  font-size: 16px;
  width: 250px;
  border: 1px solid white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: border-color 0.3s ease-in-out;
  padding:  10px;
  text-align: center;
}

#login_form button{
	background-color: aqua;
	 width: 100px;
	 justify-content: center;
}
#profile_img {
  background-color: #718093;
  overflow: hidden;
  width: 250px;
  height: 250px;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile_img img {
  width: 250px;
}


#profile_wrapper {
  display: flex;
  justify-content: center;
}

#profile_box {
  display: grid;
  grid-template-rows: 300px repeat(6, 100px);
}

.profile_content:not(.profile_content:first-child) {
  display: grid;
  grid-template-columns: 200px 300px;
}
















