body {
	width: 100%;
	height:100%;
	background-color: black;
	color: white;
	padding: 10px;
}
#site {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}
#title {
	font-size: 30pt;
	color: white;
	font-weight: 500;
	padding-bottom: 15px;
}
#menu {
	font-size: 20pt;
	color: white;
	border-top: #ff3c3c solid 3px;
	border-bottom: #ff3c3c solid 3px;
	padding: 20px;
}
a{
	text-decoration: none;
}
#menu a{
	color: yellow;
	font-size: 20pt;
	margin-right: 80px;
}
#menu a:hover{
	font-size: 20pt;
	font-weight: 900;
	text-shadow: 10px 10px 10px yellow;
}
