@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

#regWrapper {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 16px;
}


.fa-chevron-down {
  color: #eccc68;
  position: absolute;
  right: 10px;
}

#introduce {
  padding: 5px;
  font-family: "Noto Sans KR", sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 14px;
  resize: none;
  transition: border-color 0.3s ease-in-out;
}

#introduce:focus {
  outline: none;
  border-color: #fbc531;
}

#regH1 {
  padding: 5px 10px;
  font-size: 18px;
}

#reg-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#reg-form input {
  border: none;
  font-size: 18px;
}

#reg-form input::placeholder,
#login_form input::placeholder {
  color: #61F3EB;
}
#reg-form input[type="file"][accept="image/*"]{
	background-color: #fbc531;
	color: aqua;
}


#reg-form input[type="text"],
#reg-form input[type="password"] {
  background-color: #FAFAB4;
  color: #0A82FF;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: border-color 0.3s ease-in-out;
  padding: 5px 10px;
  text-align: center;
  border-radius: 20px;
  transition: border 0.1s ease-in-out;
}

#reg-form input[type="text"]:focus,
#reg-form input[type="password"]:focus {
  border-color: #fbc531;
  outline: none;
}

#reg-form input[type="submit"],
#login_form button,
.profile_button {
  background-color: rgb(128, 255, 255);
  color: rgb(0, 128, 255);
  cursor: pointer;
  font-size: 24px;
  width: 200px;
  padding: 20px 0;
  border-radius: 10px;
  box-shadow: 0 5px #e1b12c;
  transition: background-color 0.3s ease-in-out;
}

#login_form button,
.profile_button {
  border: none;
}

.profile_button {
  width: 100px;
  margin: 10px;
}

#reg-form input[type="submit"]:hover,
#login_form button:hover,
.profile_button:hover {
  background-color: rgb(128, 255, 255);
}

#reg-form input[type="submit"]:focus,
#login_form button:focus,
.profile_button:focus {
  transform: translateY(4px);
  box-shadow: 0 1px rgb(128, 255, 255);
}

#reg-form input[type="submit"]:focus-visible,
#login_form button:focus-visible,
.profile_button:focus-visible {
  outline: none;
}

#reg-form input[type="radio"] {
  appearance: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  transition: border 0.1s ease-in-out;
}

#reg-form input[type="radio"]:checked {
  border: 5px solid #fbc531;
}

#reg-form input[type="radio"]:focus-visible {
  outline-offset: 1px;
  outline: 3px solid #fbc531;
}

#reg-form input[type="checkbox"] {
  vertical-align: text-bottom;
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid #fbc531;
  border-radius: 3px;
  transition: border 0.1s ease-in-out;
}

#reg-form input[type="checkbox"]:checked {
  border: 5px solid #fbc531;
}

#reg-form input[type="checkbox"]:focus-visible {
  outline-offset: 1px;
  outline: 3px solid #fbc531;
}


#radio-box {
  display: flex;
  align-items: center;
}

#radio-box .contents {
  margin-left: 5px;
  margin-right: 5px;
}

.items {
  display: grid;
  grid-template-columns: 145px 345px;
  padding: 15px 0;
  align-items: center;
}

.items:last-child {
  display: flex;
  justify-self: center;
}
.profile_title,
.titles {
  color: green;
  font-size: 14px;
}

.contents {
  margin-right: 3px;
}

#profile_wrapper {
  display: flex;
  justify-content: center;
}

#profile_box {
  display: grid;
  grid-template-rows: 300px repeat(6, 100px);
}

.profile_content:not(.profile_content:first-child) {
  display: grid;
  grid-template-columns: 200px 300px;
}

#profile_img {
  background-color: #718093;
  overflow: hidden;
  width: 250px;
  height: 250px;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile_img img {
  width: 250px;
}

#login_form {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#login_form label {
  color: #dcdde1;
  font-size: 16px;
  width: 100px;
  display: inline-block;
}

#login_form input {
  background-color:#FAFAB4;
  color: rgb(128, 255, 255);
  font-size: 16px;
  width: 250px;
  border: none;
  border-radius: 3px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: border-color 0.01s ease-in-out;
  padding: 10px 10px;
  text-align: center;
  
}

#login_form input:focus {
  border-color: #fbc531;
  outline: none;
}

.login_inputs {
  margin-bottom: 50px;
}
.profile_result{
	border: 3px solid #fbc531;
  border-radius: 15px;
  transition: border 0.01s ease-in-out;
  width: 200px;
  height: 50px;

  text-align: center;

}

#result_txt {
  font-size: 15px;
  color: tomato;
}

#infoP {
  font-size: 15px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.loginBtn{
	 width: 100px;
    font-size: 16px;
    font-weight: 200;
    color: #fff;
    cursor: pointer;
    margin: 0px;
    height: 30px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.loginBtn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.loginBtn:focus{
	outline: none;
}
.loginBtn.my {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}

.loginBtn.out {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}



