@charset "UTF-8";


.playlist_contanier {
	display: flex;
	width: 800px;
	height: 100vh;
	border: 3px solid black;
	flex-direction: column;
}


 #playlist_title{
 	display: flex;
 	justify-content: space-around;
 	border: 3px solid blue;
 }
.playlist_title_title{
	border: 3px solid yellow;
	align-content: center;
}

.playlist_content_playlists{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.playlist_content_playlists:hover{
	background-color: rgba(246, 228, 142, 0.4);
}



.playlist_content_playlistitem{
flex: 1 1 10%;
border: 1px solid black;
text-align: center;
}
.playlist_content_playlistitem img{
height: 50px;
}
.playlist_addMusic{
border: 1px solid red;
position: absolute;
top: 91vh;
height: 100px;
width: 800px;
}
.playlist_addMusic button{
height: 20px;
width: 100px;
}








.wrap{padding:10px;}

.btn_open{font-weight:bold; margin:5px; padding:4px 6px; background:#000; color:#fff;}
.pop_wrap{position:fixed; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,.5); font-size:0; text-align:center;}
.pop_wrap:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
.pop_wrap .pop_inner{display:inline-block; padding:5px 10px; background:#fff; width:500px; vertical-align:middle; font-size:15px;}



a{
  text-decoration:none; color:inherit; cursor: pointer;
}
 .right_area .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100vw * (45 / 1920));
    height: calc(100vw * (45 / 1920));

    border-radius: 50%;
    border: solid 2px #eaeaea;
    background-color: #fff;
}

.icon.heart img{
    width: calc(100vw * (24 / 1920));
    height: calc(100vw * (24 / 1920));
}

.icon.heart.fas{
  color:red
}
.heart{
    transform-origin: center;
}
.heart.active img{
    animation: animateHeart .3s linear forwards;
}

@keyframes animateHeart{
    0%{transform:scale(.2);}
    40%{transform:scale(1.2);}
    100%{transform:scale(1);}
  }



