@charset "UTF-8";


.playlist_contanier {
	display: flex;
	width: 800px;
	height: 100vh;
	border: 3px solid black;
	flex-direction: column;
}


 #playlist_title{
 	display: flex;
 	justify-content: space-around;
 	border: 3px solid blue;
 }
.playlist_title_title{
	border: 3px solid yellow;
	align-content: center;
}

.playlist_content_playlists{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.playlist_content_playlistitem{
flex: 1 1 10%;
border: 1px solid black;
text-align: center;
}
.playlist_content_playlistitem img{
height: 50px;
}




a{text-decoration:none;}
.wrap{padding:10px;}

.btn_open{font-weight:bold; margin:5px; padding:4px 6px; background:#000; color:#fff;}
.pop_wrap{position:fixed; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,.5); font-size:0; text-align:center;}
.pop_wrap:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
.pop_wrap .pop_inner{display:inline-block; padding:5px 10px; background:#fff; width:500px; vertical-align:middle; font-size:15px;}


