@charset "UTF-8";

.tAcenter{
	text-align:center;
}
.tAright{
	text-align:right;
}

/* review.jsp ----------------------------------------------------------------  */
.review_table {
	width: 100vw;
	height: 60px;
	background-color: var(--black);
	color: var(--white);
	padding: 10px;
	box-sizing: border-box;
}

.review_table_title {
	font-size: 15pt;
	margin: auto;
	text-align: center;
}
.review_table_btns{
	width: 75vw;
	height: 1px;
	margin: auto;
}
.review_table_btns a {
	margin: 10px;
	color: var(--white);
	float: right;
}

.review_write:hover{
	text-decoration:underline;
}

#review_columnsWrap_label {
	margin: 20px auto 0px auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
	border-bottom: dashed;
}
#review_columnsWrap_label > div{
	text-align: center;
}

.review_label_no {
	width: 100px;
}
.review_label_title {
	width: 50%;
	display: flex;
	align-items: baseline;
}
.review_label_title div{
	text-align: left;
	margin: 0px 3px;
}

.review_title_commentN{
	font-size: 10pt;
}
.review_label_writer {
 	width: 80px;	
}
.review_label_date {
	width: 85px;
}
.review_label_viewLike {
	width: 30px;
}

#review_table2 {
	width: 100%;
	margin: 0px auto;
}

.review_table2_notice{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 30px;
	border-bottom:  dotted silver;
}

.review_table2_row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 30px;
	margin: 10px 0px;
	border-radius: 5px;
}


.review_table2_row:hover, .review_table2_notice:hover {
	background-color: rgba(246, 228, 142, 0.4);
}

.review_table2_row div, .review_table2_notice div {
	text-align: center;
}

.review_bottom{
	border-top: double 2px black;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items:center;
}

.review_bottom div {
	text-align: center;
	padding: 10px;
}

.review_bottom_btn{
	width: 100px;
}
.review_bottom_btn a:hover{
	text-decoration:underline; 
}
.fa-crown{
	color:var(--dYello);
	margin: 5px;
}

.fa-circle-exclamation{
	color: red;
	margin: 5px;
}

/* review_reg.jsp ----------------------------------------------------------------  */
.reviewReg_form{
	width:100%;
	background-color:  rgba(246, 228, 142, 0.4);
	padding: 20px;
	margin: 10px;
}
.reviewReg_table {
	width: 90%;
	background-color: var(--white);
	margin: auto;
	padding: 10px;
}

#reviewReg_table_h {
	display: flex;
	justify-content: space-between;
}

#reivewReg_h_title {
	margin: auto;
}

.reviewReg_table_row {
	display: flex;
}

#reviewReg_row_nameInput{
	width: 100%;
	height: 30px;
	margin: 10px 0px;
}

#reviewReg_row_textInput{
	width: 100%;
	height: 400px;
	margin-top: 10px;
}

#reviewUpdate_row_textInput{
	width: 100%;
	height: 400px;
	margin-top: 10px;
}

.reviewReg_row_index {
	text-align: center;
	align-items: center;
	width: 100px;
	border: 1px solid var(--white);
}

.reviewReg_row_input {
	width: 400px;
}

.reviewReg_row_writer {
	width: 408px;
}

#reviewReg_bottum_button{
	margin: 10px auto 10px 440px;
	width: 96px;
	height: 54px;
	border-radius: 20px;
	border: none;	
	background-color: var(--lYello);
	box-shadow: 1px 1px 3px;
	cursor: pointer;
	font-size: 15pt;
}
#reviewReg_bottum_button:hover{
	background-color: var(--dYello);
}

#reviewReg_bottum_button:active{
	box-shadow: none;
}
.reviewReg_golist:hover{
	text-decoration: underline;
}



/* review_detail.jsp --------------------------------------------------------------------------*/
.reviewDetail_table{
	width:inherit;
	margin: 30px 0px;
}
.reviewDetail_list_subtitle{
  width: inherit;
  display: flex;
  font-size: 20px;
  justify-content: flex-end;
  align-items: flex-end;
}
.reviewDetail_list_subtitle a:hover {
	text-decoration: underline;
}
.reviewDetail_table_titleRow {
	width:100%;
	display: flex;	
	border-bottom: solid 1px gray;
	align-items:center;
	margin: 10px 0px;
}

#reviewDetail_titleRow_title{
	width: 60%; font-size: 25pt; font-weight:600;
	padding: 0 0 5px 10px;
	margin-bottom: 5px;
	
}
#reviewDetail_titleRow_etcs{
	width: 40%;
	display: flex;
	justify-content: space-between;
}

.reviewDetail_table_row{
	width:100%;
	display: flex;	
}


#reviewDetail_row_viewsLike {
	display: flex;
	justify-content: flex-end;
	width: 100px;
}

.reviewDetail_viewsLike_items {
	margin: 0px 5px;
}

.reviewDetail_row_400 {
	width: 400px;
}

.reviewDetail_row_200 {
	width: 200px;
}
#reviewDetail_titleRow_date {
	width: 160px;
}

.reviewDetail_titleRow_index {
	width: 50px;
}

.reviewDetail_row_100 {
	width: 100px;
}

.reviewDetail_row_50 {
	width: 50px;
	text-align: center;
}
.reviewDetail_table_content{
	width:100%;
}

#reviewDetail_content_viewsLike{
	display:flex;
	justify-content: flex-end;
	align-items: center;
	
}
.reviewDetail_items_likeBtn{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	border: solid 0.5px gainsboro;
	font-size:large;
	cursor: pointer;
	box-shadow: 1px 1px 3px;
}

.reviewDetail_items_likeBtn:hover{
	background-color:var(--lYello);
}

.reviewDetail_items_likeBtn:active{
	background-color: #c0c0c0;
	box-shadow: none;
}

.reviewDetail_likeNumber{
	width:30px;
	text-align: center;
}

.reviewDetail_content_label{
	width:100%;
	text-align: center;
}
.reviewDetail_content_txt{
	width: 80%;
	height: 500px;
	padding: 5px;
}

#reviewDetail_row_img {
	max-height: 200px;
}

#reviewDetail_text_text{
	margin-top: 10px;
	font-size: 15pt;
	line-height: 160%;
}

#reviewDetail_table_bottom{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

#reviewDetail_bottom_bttmBtns {
	display: flex;
	justify-content: flex-end;
}

.reviewDetail_bttmBtns_btn{
	background-color: var(--lYello);
	border: none;
	width: 60px;
	height: 30px;
	border-radius: 5px;
	margin: 5px;
	box-shadow: 1px 1px 3px gray;
	cursor: pointer;
}

.reviewDetail_bttmBtns_btn:hover{
	background-color:var(--dYello);
}

.reviewDetail_bttmBtns_btn:active{
	box-shadow: none;
}
