@charset "UTF-8";
/* review.jsp ----------------------------------------------------------------  */
.review_table {
	width: 100vw;
	height: 60px;
	background-color: var(--black);
	color: var(--white);
	padding: 10px;
	box-sizing: border-box;
}

.review_table_title {
	font-size: 15pt;
	margin: auto;
	text-align: center;
}
.review_table_btns{
	width: 75vw;
	height: 1px;
	margin: auto;
}
.review_table_btns a {
	margin: 10px;
	color: var(--white);
	float: right;
}

#review_columnsWrap_label {
	margin: 20px auto 0px auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
	border-bottom: dashed;
}
#review_columnsWrap_label > div{
	text-align: center;
}

.review_label_no {
	width: 100px;
}
.review_label_title {
	width: 50%;
	display: flex;
	align-items: baseline;
}
.review_label_title div{
	text-align: left;
	margin: 0px 3px;
}

.review_title_commentN{
	font-size: 10pt;
}
.review_label_writer {
 	width: 80px;	
}
.review_label_date {
	width: 85px;
}
.review_label_viewLike {
	width: 30px;
}

#review_table2 {
	width: 100%;
	margin: 0px auto;
}

.review_table2_notice{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 30px;
	border-bottom:  dotted silver;
}

.review_table2_row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 30px;
	margin: 10px 0px;
	border-radius: 5px;
}


.review_table2_row:hover, .review_table2_notice:hover {
	background-color: rgba(246, 228, 142, 0.4);
}

.review_table2_row div, .review_table2_notice div {
	text-align: center;
}

.review_bottom{
	border-top: double 2px black;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.review_bottom div {
	text-align: center;
	padding: 10px;
}

.review_bottom_btn{
	width: 75px;
}





/* review_reg.jsp ----------------------------------------------------------------  */
#reviewReg_table {
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#reviewReg_table_h {
	display: flex;
	justify-content: space-between;
}

#reivewReg_h_title {
	margin: auto;
}

.reviewReg_table_row {
	display: flex;
}

.reviewReg_row_index {
	text-align: center;
	align-items: center;
	width: 100px;
	background-color: #DCDDE1;
	border: 1px solid var(--white);
}

.reviewReg_row_input {
	width: 400px;
}

.reviewReg_row_writer {
	width: 408px;
}

.reviewReg_row_txt {
	width: 400px;
	height: 400px;
}





/* review_detail.jsp --------------------------------------------------------------------------*/

#reviewDetail_row_viewsLike {
	display: flex;
	justify-content: flex-end;
	width: 100px;
}

.reviewDetail_viewsLike_items {
	margin: 0px 5px;
}

.reviewDetail_row_400 {
	width: 400px;
}

.reviewDetail_row_200 {
	width: 200px;
}

.reviewDetail_row_100 {
	width: 100px;
}

.reviewDetail_row_50 {
	width: 50px;
	text-align: center;
}

#reviewDetail_row_img {
	max-height: 30px;
}

#reviewDetail_table_bottom{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#reviewDetail_bottom_bttmBtns {
	display: flex;
	justify-content: flex-end;
}

