@charset "UTF-8";

.album_tracks {
  width: inherit;
  display: flex;
  flex-direction: column;
}

.album_track {
  font-size: 20px;
  padding: 20px 0;
  width: inherit;
  display: grid;
  grid-template-columns: 50px 500px 500px;
}

.album_track span:first-child {
  font-size: 18px;
}
