@charset "UTF-8";

.comment_container {
  width: inherit;
  display: flex;
  flex-direction: column;
}

.comment_container h1 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
  color: var(--dYello);
}

.comment_input form {
  display: flex;
  gap: 20px;
  align-items: center;
}

.comment_input textarea {
  padding: 5px;
  font-family: "Noto Sans KR", sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  resize: none;
  width: 600px;
  height: 80px;
}

.comment_input textarea:focus {
  outline: none;
  border-color: var(--dYello);
}

.comment_input button {
  background-color: var(--lYello);
  font-size: 20px;
  color: var(--black);
  padding: 25px 30px;
  border: none;
  border-radius: 10px;
}

.comment_input p {
  height: 80px;
}

.comment_comment {
  margin: 50px 0;
  display: flex;
  align-items: center;
  gap: 30px;
}

.comment_profileimg {
  width: 70px;
  height: 70px;
  background-color: var(--white);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment_comment img {
  width: 80px;
}

.comment_contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment_top {
  display: grid;
  grid-template-columns: 100px 1fr;
}

.comment_bottom {
  display: flex;
  gap: 10px;
}

.comment_auth {
  color: var(--dYello);
  font-weight: 400;
}

.comment_date {
  color: rgba(0,0,0, 0.5);
}
