@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,700&family=Noto+Sans+KR:wght@300;400;700&display=swap");
@import "reset.css";
@import "variable.css";

@import "main/main.css";
@import "main/detail.css";
@import "main/chart.css";

.hidden {
  display: none;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 1fr 80px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  color: var(--black);
}

a {
  text-decoration: none;
  color: var(--black);
}

header {
  width: 1170px;
  min-width: 1170px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

main,
footer {
  width: 1170px;
  min-width: 1170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  flex-direction: column;
  justify-content: flex-start;
}

.index_button {
  font-size: 1rem;
  font-family: inherit;
  font-weight: inherit;
  background-color: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

#index_hWrapper,
#index_mWrapper,
#index_fWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

#index_hWrapper a {
  color: var(--white);
}

#index_mWrapper {
  position: relative;
  background-color: var(--white);
}

#index_hWrapper,
#index_fWrapper {
  background-color: var(--black);
  color: var(--white);
}

#index_header_hLeft,
#index_header_hCenter,
#index_header_hRight {
  display: flex;
  align-items: center;
}

#index_header_hCenter {
  position: relative;
  justify-content: center;
}

#index_header_hRight {
  position: relative;
  justify-content: flex-end;
}

#index_hCenter_nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

#index_title_h1 a {
  font-size: 40px;
  font-family: "Chakra Petch", sans-serif;
  background: linear-gradient(60deg, #e1b12c 0%, #f6e58d 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.index_login_button,
.index_join_button {
  padding: 3px 10px;
  margin: 0 5px;
  border-radius: 5px;
  border: 2px solid;
}

.index_join_button {
  color: var(--black);
  background-color: var(--dYello);
  border-color: var(--dYello);
}
